body {
    background-color: lightblue;
  }
  h1 {
    color:black;
  }

  h2{
    color:black;
  }

  h3{
    color:black;
  }

  h4{
    color:black;
  }

  a{

    color:rgb(212, 73, 38);
  }

  p {
    color: blue;
  }
